/bin/VER
/bin/sireum.jar
/apps
/platform
/sbt
/lib_managed
/project/project
/distros
/.idea
*.sc
target
.readme.md.html
.DS_Store
.cache*
.scala_dependencies
project-dependency.dot
*.class
.project
.classpath
.settings
