/bin
/apps
/platform
/sbt
/lib_managed
/project/project
/distros
/.idea
scratch.sc
target
.readme.md.html
.DS_Store
.cache*
.scala_dependencies
project-dependency.dot
*.class
.project
.classpath
.settings
Scratch.scala
out
.idea_modules